providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/Volumes/WorkVault01/WorkSarah/sasarah/stickerMaker"
          source: "/Volumes/WorkVault01/WorkSarah/sasarah/stickerMaker/.build-tools.cson"
          name: "Process"
          command: "python3 src/main.py cfg_test01.json"
          wd: "."
          env: {}
          modifier:
            shell:
              command: "bash -c"
            save_all: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: false
              stdin: false
          version: 2
        }
      ]
  }
]
